 {% extends 'admin/base_site.html' %}

 {% block content %}
 <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}" />
    <table>{{ tag_form }}</table>
    {% if show_include_form %}
        <br><h2>Include objects of related models</h2>
        <table>{{ include_form }}</table>
    {% else %}
        {{ include_form }}
    {% endif %}

    <br>
    <input type="submit" name="add" value="Add" />
    <input type="submit" name="remove" value="Remove" />

    {% for object in objects %}
        <input type="hidden" name="_selected_action" value="{{ object.pk }}">
    {% endfor %}

 </form>
 {% endblock %}
