 {% extends 'admin/base_site.html' %}

 {% block content %}
 <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="manage_tags" />
    <table>{{ tag_form }}</table>
    <h3>You can include objects of related models.</h3>
    <table>{{ include_form }}</table>

    <br>
    <input type="submit" name="add" value="Add" />
    <input type="submit" name="remove" value="Remove" />

    <p>Apply for:</p>
    <ul>
    {% for object in objects %}
        <li>
            {{object}}
            <input type="hidden" name="_selected_action" value="{{ object.pk }}">
        </li>
    {% endfor %}
    </ul>

 </form>
 {% endblock %}
